#content-header{
	background-color:white;
	text-align:center;
	font-family:inherit;
	color:black;
	height:75%;
	font-size: 17pt;
}




.row{ 
list-style-type: none;
    margin: 0;
    padding: 0;

}

col-xs-2{
	display: inline;
    float: none;
    font-family:inherit;
    font-size: 12pt;
	text-align: center;
}

.a-nav{
	display: block;
    padding: 7px;
    background-color: #f2f2f2;
    color:saddlebrown;
    text-decoration: none;
}


.col-xs-2 .a-nav:hover{
	background-color:#666666;
    color:gold;
}

#ul-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li-sidebar{
    display: inline;
    float: none;
    font-family:inherit;
    font-size: 12pt;
	text-align: center;
}

.a-sidebar{
    display: block;
    padding: 7px;
    background-color:#666666;
    color:gold;
    text-decoration: none;
}

.div-content-title{
	font-family: sans-serif;
    font-size: 15pt;
    font-weight: bold;
	
}
.div-content-title{
    font-family: sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

.div-content-brief{
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: normal;
    text-align: justify;
}




.li-sidebar .a-sidebar:hover {
    background-color:#f2f2f2;
    color:saddlebrown;
}



#img-sidebar-ads{
    width: 200px;
    height: 200px;
	
}

.img-about{
	width: 200px;
    height: 200px;
}




#td-footer-content{
	display: block;
    padding: 10px;
    background-color:#f2f2f2;
    color: black;
	font-family:inherit;
    text-decoration: none;
}
#img-testy{
	height:100;
	width:100;
}













.height-full{
    height: 100%;
}

.height-half{
    height: 50%;
}

.height-header{
    height: 20%;
}

.height-body{
    height: 75%;
}

.height-footer{
    height: 5%
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.text-red{
    color: black;
}

.lightgrey{
    background-color: lightgrey;
}



.whitesmoke{
    background-color: whitesmoke;
}

.white{
    background-color: white;
}

.border-soft{
    border-style: outset;
}

.font-small{
    font-size: 8pt;
}

.footer-middle{
    padding: 8px;
}

.header-middle{
    padding: 10px;
}

.content-padding{
    padding: 15px;
}

.sub-content-padding{
    padding: 50px;
}

.header1{
    font-size: 18pt;
    font-weight: bold;
}

.menu-sidebar{
    font-family: fantasy;
    font-size: 10pt;
    text-align: center;
    border-style: outset;
}





.video-menu1{
    padding-left: 10pt;
}

.table-1{
    font-size: 10pt;
    text-align: center;
}



.image-content{
    width: 320px;
    height: 200px;
}
