#content-header{
	background-color:white;
	text-align:center;
	font-family:inherit;
	color:black;
	height:75%;
	font-size: 17pt;
}
.row{ 
list-style-type: none;
    margin: 0;
    padding: 0;

}

col-xs-2{
	display: inline;
    float: none;
    font-family:inherit;
    font-size: 12pt;
	text-align: center;
}

.a-nav{
	display: block;
    padding: 7px;
    background-color: #f2f2f2;
    color:saddlebrown;
    text-decoration: none;
}

.col-xs-2 .a-nav:hover{
	background-color:#666666;
    color:gold;
}

#ul-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li-sidebar{
    display: inline;
    float: none;
    font-family:inherit;
    font-size: 12pt;
	text-align: center;
}

.a-sidebar{
    display: block;
    padding: 7px;
    background-color:#666666;
    color:gold;
    text-decoration: none;
}

.div-content-title{
    font-family: sans-serif;
	color:#666666;
    font-size:13pt;
   
	
}
.div-content-promo{
	font-family:serif;
	color:black;
    font-size: 25pt;
	padding:20px;
	display: block;
	background-color:#f2f2f2;
	margin-top:30;
	font-weight: bold;
	
}

.div-content-pemb{
	font-family:serif;
	color:black;
    font-size: 13pt;
	padding:20px;
	display: block;
	background-color:#f2f2f2;
	margin-top:30;
	font-weight: bold;
	
    text-decoration: none;
	margin: 20;
}
.div-content-brief{
    font-family: sans-serif;
	color:#666666;
    font-size: 13pt;
    font-weight: normal;
    text-align: justify;
}

.div-content-index1{
	font-family: sans-serif;
	color:#666666;
    font-size: 13pt;
}

.div-content-judul{
	font-family:serif;
	color:black;
    font-size: 15pt;
	padding:3px;
	display: block;
	background-color:#c2c2a3;
	margin-top:10;
	font-weight: bold;
}


.div-content-judul1{
	font-family:serif;
	color:black;
    font-size: 18pt;
	padding:3px;
	display: block;
	
	font-weight: bold;
}
	

.li-sidebar .a-sidebar:hover {
    background-color:#f2f2f2;
    color:saddlebrown;
}



#img-sidebar-ads{
    width: 200px;
    height: 200px;
	
}

.img-about{
	width: 200px;
    height: 200px;
}

#img-format-order{
	width: 500px;
    height: 400px;
}

#img-wisna{
	width: 200px;
    height: 250px
}



#td-footer-content{
	padding: 10px;
    background-color:#f2f2f2;
    color: black;
	font-family:inherit;
    text-decoration: none;
	
}
.img-testy{
	height:350;
	width:300;
	margin-top:auto;
	padding-top: 10;
}
#img-testimony{
	height:200px;
	width:1050px;
}

#img-sidebar-vans{
	width: 150px;
    height: 150px;
}

.image-content{
    width: 320px;
    height: 200px;
}
#td-footer{
	background-color: #f2f2f2;
}








.height-full{
    height: 100%;
}

.height-half{
    height: 50%;
}




.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}


.border-soft{
    border-style:inset;
}

.font-small{
    font-size: 8pt;
}

.footer-middle{
    padding: 8px;
}

.header-middle{
    padding: 10px;
}



.sub-content-padding{
    padding: 50px;
}


.table-1{
    font-size: 10pt;
    text-align: center;
}

.column-header{
    font-weight: bold;
    background-color: goldenrod;
}

.image-content{
    width: 320px;
    height: 200px;
}
